#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mydivheader {
  cursor: move;
  padding: 10px;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  min-width: 1200px;
  min-height: 600px;
}