html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Chart */

.chart {
  position: relative;
  margin: 0 auto;
  height: 75vh;
  padding-top: 20px;
}

#mydiv {
  width: 96%;
  position: absolute;
  border: 1px solid #d3d3d3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 2%;
}

.mydivheader {
  cursor: move;
  padding: 10px;
  color: #fff;
}

@media only screen and (max-width: 600px){
	.chart {
    width: 100%;
  }
}

/* Table */

.table {
  padding: 20px;
}
